useDynLib(HARModel, .registration=TRUE)
importFrom("methods", "is", "new", "show")
importFrom("Rcpp", "evalCpp")
importFrom("zoo", "index")
importFrom("xts", "xts", "addLegend")
importFrom("utils", "tail")
importFrom("grDevices", "dev.interactive")
importFrom("graphics", "panel.smooth", "par", "plot", "points" , "legend" , "lines")
importFrom("stats", "lm", "residuals", "rnorm" , "dt")
importFrom("sandwich" , "NeweyWest")
export(HARDataCreationC, HARestimate, HARforecast, HARsimulate , HARMonteCarlo)
exportClasses("HARModel" ,"HARForecast", "HARSim")
exportMethods("show" , "plot" , "coef", "uncondmean" , "SandwichNeweyWest")

