useDynLib(HARModel, .registration=TRUE)
export(HARDataCreationC, HARestimate, HARforecast)
importFrom("Rcpp", "evalCpp")
importFrom("zoo", "index")
importFrom("xts", "xts" , "addLegend")
importFrom("utils", "tail")
importFrom("grDevices", "dev.interactive")
importFrom("graphics", "panel.smooth", "par", "plot", "points")
importFrom("stats", "lm", "residuals", "rnorm")
importFrom("methods", "setMethod")
S3method(print, HARmodel)
S3method(plot, HARmodel)
S3method(print, HARforecast)
S3method(plot, HARforecast)
